
body {
  background-color:#FFB6C1;
}
h1 {
  color: #FF00AB;
  font-size: 160%;

}

h2{
  color: #FF00AB;
  font-size: 160%;:
}

  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
